<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	id="WebApp_ID" version="3.1">
	<display-name>Send_Redirect_method</display-name>

	<servlet>
		<servlet-name>Demo</servlet-name>
		<servlet-class>com.bridgeit.Search.DemoServlet</servlet-class>
	</servlet>
	
	
	<servlet-mapping>
		<servlet-name>Demo</servlet-name>
		<url-pattern>/DemoServlet</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>Search</servlet-name>
		<servlet-class>com.bridgeit.Search.MySearcher</servlet-class>
	</servlet>


	<servlet-mapping>
		<servlet-name>Search</servlet-name>
		<url-pattern>/Mysearcher</url-pattern>
	</servlet-mapping>

	<welcome-file-list>
		<welcome-file>Index.html</welcome-file>
	</welcome-file-list>
</web-app>